PORT=5000
POSTGRES_URI=postgres://user:password@localhost:5432/aacharya
REDIS_URI=redis://localhost:6379
JWT_SECRET=your_jwt_secret
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.5-flash
FIREBASE_CREDENTIALS=your_firebase_credentials.json
CLOUDINARY_URL=your_cloudinary_url
